[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/pyflakes-pathogen"]
	path = vim/bundle/pyflakes-pathogen
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vim/bundle/rope-vim"]
	path = vim/bundle/rope-vim
	url = https://github.com/sontek/rope-vim.git
#[submodule "vim/bundle/snipmate.vim"]
#	path = vim/bundle/snipmate.vim
#	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/pydoc.vim"]
	path = vim/bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
#[submodule "vim/bundle/pytest.vim"]
#	path = vim/bundle/pytest.vim
#	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "syntastic"]
	path = syntastic
	url = git@github.com:tabletcorry/syntastic.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/tabletcorry/syntastic.git
[submodule "vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
